header(class="grid-container")
  div
  div.main-col
    nav.m-col-1
      if header
        ul
          
          +headerBar(header)
    div.m-col-2
      //a(href="/en").langButton English
      //a(href="/es").langButton Español
      div.flexy
        div.lang-parent
          button.l-button.btn(id="lang-button") <span class="material-icons">language<span>
          div.lang-dropdown-menu(id="lang-menu")
            ul.listless
              li.btn
                a(href="/en") english
              li.btn
                a(href="/es") español
  div
if headPage
  +headerPage(headPageContent)
  
