extends layout
include mixins/_imgHalfRow
include mixins/_paragraphRow
include mixins/_mainSectMix
include mixins/_featureContainer
include mixins/_feature
include mixins/_formRow
include mixins/_input
include mixins/_banner
include mixins/_headerBar
include mixins/_headerPage

block header
  include header.pug
block content
  main(class="grid-container")
    div
    div
      h1= title
      div.main-col
        +mainSectMix(mixs)
      if features
        +featureContainer(features)
    div 
