doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/utility-style.css')
    link(rel='stylesheet', href='/stylesheets/compiled-style.css')
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Glory:wght@100;300&display=swap" rel="stylesheet")
  body
    block header
    if banner
      +banner(banner.text)
    block content
    script(src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous")
    script(src="javascripts/main.js" type="module")
