@use "sass:color";
$defaultTextDark: rgb(51,51,51);
$defaultTextLight: rgb(255,255,255);
$defaultBackgroundDark: rgb(133,144,160);
$defaultBackgroundLight: rgb(210,222,239);
$fontStack: "Glory", Helvetica, Arial, sans-serif;


@mixin colorSchemeDark() {
  background-color: $defaultBackgroundDark;
  color: $defaultTextLight;
}

@mixin colorSchemeLight() {
  background-color: $defaultBackgroundLight;
  color: $defaultTextDark;
}
@mixin border(){
  border-radius: 3px;
  box-shadow: 0 0 2px #000;
}
@mixin borderThin(){
  border-radius: 3px;
  box-shadow: 0 0 2px #000;
  border: $defaultTextDark;
}
@mixin button(){
  @include border;
  @include colorSchemeLight;
  text-decoration: none;
  padding:1rem;
  // margin-left: auto;
  // margin-right:auto;
  box-sizing: border-box;
  display: block;
  text-align:center;
}

header {
  @include colorSchemeDark;
  @include border;
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  position:sticky;
  top:0px;
  z-index:1;
  //height: 90vh;
}

body {
  font-size: 18px;
  @include colorSchemeLight;
  font-family: $fontStack;
  margin:0;

  h1{
    text-align: center;
    margin: 2rem;
    font-weight: 100;
  }
}

nav{
  font-size: 20px;
  ul {
    list-style: none;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
    margin-top: 0;
    margin-bottom: 0;
  }
  li {
    display: inline-block;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    a{
      color: $defaultTextLight;
      text-decoration:none;
    }
  }
}

.grid-container{
  display:grid;
  grid-template-columns: auto 70% auto;
  .main-col{
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 1rem;
    margin-left: 1.5rem;
    margin-right:1.5rem;
  }
  .m-col-both{
    /* padding-left:0.5rem;
    padding-right:0.5rem; */
    grid-column: 1 / span 2;
  }

  .m-col-1{
    /* padding-left:0.5rem;
    padding-right:0.5rem; */
    grid-column: 1 / span 1;
  }
  .m-col-2{
    padding-left:0.5rem;
    padding-right:0.5rem;
    grid-column: 2 / span 1;
  }
}

img{
  max-width: 100%;
  height: auto;
  @include border;

}

.feature-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 1rem;

  .feature{
    background-color: #aab3c1;
    margin-bottom:1rem;
    margin-top:1rem;
    padding-bottom:4rem;
    padding-top:3rem;
    position: relative;
    @include border;
  }
  .feature-head{
    background-color: #8590a0;
    position: absolute;
    top:0;
    height: 3rem;
    width:100%;
    border-radius: 3px 3px 0px 0px;
  }
  .feature-head{
    color: #fff;
  }
  .feature-body{
    margin-left: 0.125rem;
    margin-right: 0.125rem;
    margin-bottom: 0.125rem;
    padding-top:0.5rem;
    padding-bottom:0.5rem;
    padding-left:0.25rem;
    padding-right:0.25rem;
    height:auto;
  }
  .feature-foot{
    background-color: #8590a0;
    position:absolute;
    bottom:0;
    height:4rem;
    width:100%;
    display:flex;
    border-radius: 0px 0px 3px 3px;
    button{
      height: 30px;
      width:50%;
      margin:auto;

    }
  }
}

form{
  // display:flex;
  max-width:100%;
  padding: 2rem;
  @include colorSchemeDark;
  @include border;
  div{
    width:100%;
    // margin:auto;
    // display:flex;
    label{
      width: 100%;
      margin-top:1rem;
      margin-bottom:1rem;
    }
    input[type=text],input[type=email],textarea{
      width:100%;
      margin-top:1rem;
      margin-bottom:1rem;
      padding-top:1rem;
      padding-bottom:1rem;
      @include borderThin;
      padding-left:1rem;
      // margin-left:1rem;
      // margin-right:1rem;
      padding-right:1rem;
      display:block;
      box-sizing: border-box;
    }
    input:focus,textarea:focus{
      background-color:#bbeae9;
    }
    textarea{
      height:8rem;
    }
    input[type=submit]{
      width:100%;
      padding:1rem;
      @include colorSchemeLight;
      @include borderThin;
    }
  }
}
.banner{
  @include colorSchemeDark;
  @include border;
  margin:1rem;
  padding:1rem;
}

.langButton{
  @include colorSchemeLight;
  @include borderThin;
  margin:0.125rem;
  padding-top:0.5rem;
  padding-bottom:0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  float: right;
}
.header-page{
  min-height:100vh;
  @include colorSchemeDark;
  position: static;
  margin-top:-1.25rem;
  h1{
    color: $defaultTextLight;
    font-size: 5rem;
    margin-top: 6rem;
    margin-bottom:1rem;
    padding:0;
    box-sizing: border-box;
    //height:5rem;
  }
  p{
    font-size: 1.25rem;
  }
  h3{
    font-size: 1.75rem;
  }
  span.l-button{
    font-size:2.5rem;
  }
  .action-parent{
    display: flex;
  }
  .action-button{
    //@include button;
    margin-top:6rem;
    margin-bottom:2rem;
    font-size: 2rem;
    width:50%;
    float: right;
    margin-left:auto;
    margin-right:auto;
  }
}
.btn{
  @include button;
}
.btn:hover{
  background-color: color.scale($defaultBackgroundLight,$lightness:15%);
}

.text-light{
  color: $defaultTextLight;
}

.text-dark{
  color: $defaultTextLight;
}
.flexy{
  display:flex;
  .center{
    margin:auto;
  }
}
.scroll-message{
  position:absolute;
  bottom:0;
  width:100%;
  z-index: 0;
}
.listless{
  list-style:none;
}
.lang-dropdown-menu{
  @include colorSchemeLight;
  @include border;
  display:flex;
  float:right;
  position:absolute;
  display:none;
  ul{
    margin:auto;
    box-sizing:border-box;
    padding:0;
  }
  li{
    margin:0.25rem;
  }
}
.lang-parent{
  display:inline-block;
  float:right;
  margin:auto;
}
.l-button{
  //width:50%;
  border-radius: 1.5rem;
}
.nav-link{
  background-color: rgba(0,0,0,0.1);
  box-sizing: border-box;
  padding:1rem;
}
.nav-link:hover{
  background-color: rgba(0,0,0,0.2);
}
