header {
  background-color: #8590a0;
  color: white;
  border-radius: 3px;
  box-shadow: 0 0 2px #000;
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  position: sticky;
  top: 0px;
  z-index: 1;
}

body {
  font-size: 18px;
  background-color: #d2deef;
  color: #333333;
  font-family: "Glory", Helvetica, Arial, sans-serif;
  margin: 0;
}
body h1 {
  text-align: center;
  margin: 2rem;
  font-weight: 100;
}

nav {
  font-size: 20px;
}
nav ul {
  list-style: none;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
  margin-top: 0;
  margin-bottom: 0;
}
nav li {
  display: inline-block;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
nav li a {
  color: white;
  text-decoration: none;
}

.grid-container {
  display: grid;
  grid-template-columns: auto 70% auto;
}
.grid-container .main-col {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 1rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
.grid-container .m-col-both {
  /* padding-left:0.5rem;
  padding-right:0.5rem; */
  grid-column: 1/span 2;
}
.grid-container .m-col-1 {
  /* padding-left:0.5rem;
  padding-right:0.5rem; */
  grid-column: 1/span 1;
}
.grid-container .m-col-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  grid-column: 2/span 1;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 3px;
  box-shadow: 0 0 2px #000;
}

.feature-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 1rem;
}
.feature-container .feature {
  background-color: #aab3c1;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding-bottom: 4rem;
  padding-top: 3rem;
  position: relative;
  border-radius: 3px;
  box-shadow: 0 0 2px #000;
}
.feature-container .feature-head {
  background-color: #8590a0;
  position: absolute;
  top: 0;
  height: 3rem;
  width: 100%;
  border-radius: 3px 3px 0px 0px;
}
.feature-container .feature-head {
  color: #fff;
}
.feature-container .feature-body {
  margin-left: 0.125rem;
  margin-right: 0.125rem;
  margin-bottom: 0.125rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  height: auto;
}
.feature-container .feature-foot {
  background-color: #8590a0;
  position: absolute;
  bottom: 0;
  height: 4rem;
  width: 100%;
  display: flex;
  border-radius: 0px 0px 3px 3px;
}
.feature-container .feature-foot button {
  height: 30px;
  width: 50%;
  margin: auto;
}

form {
  max-width: 100%;
  padding: 2rem;
  background-color: #8590a0;
  color: white;
  border-radius: 3px;
  box-shadow: 0 0 2px #000;
}
form div {
  width: 100%;
}
form div label {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
form div input[type=text], form div input[type=email], form div textarea {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 3px;
  box-shadow: 0 0 2px #000;
  border: #333333;
  padding-left: 1rem;
  padding-right: 1rem;
  display: block;
  box-sizing: border-box;
}
form div input:focus, form div textarea:focus {
  background-color: #bbeae9;
}
form div textarea {
  height: 8rem;
}
form div input[type=submit] {
  width: 100%;
  padding: 1rem;
  background-color: #d2deef;
  color: #333333;
  border-radius: 3px;
  box-shadow: 0 0 2px #000;
  border: #333333;
}

.banner {
  background-color: #8590a0;
  color: white;
  border-radius: 3px;
  box-shadow: 0 0 2px #000;
  margin: 1rem;
  padding: 1rem;
}

.langButton {
  background-color: #d2deef;
  color: #333333;
  border-radius: 3px;
  box-shadow: 0 0 2px #000;
  border: #333333;
  margin: 0.125rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  float: right;
}

.header-page {
  min-height: 100vh;
  background-color: #8590a0;
  color: white;
  position: static;
  margin-top: -1.25rem;
}
.header-page h1 {
  color: white;
  font-size: 5rem;
  margin-top: 6rem;
  margin-bottom: 1rem;
  padding: 0;
  box-sizing: border-box;
}
.header-page p {
  font-size: 1.25rem;
}
.header-page h3 {
  font-size: 1.75rem;
}
.header-page span.l-button {
  font-size: 2.5rem;
}
.header-page .action-parent {
  display: flex;
}
.header-page .action-button {
  margin-top: 6rem;
  margin-bottom: 2rem;
  font-size: 2rem;
  width: 50%;
  float: right;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  border-radius: 3px;
  box-shadow: 0 0 2px #000;
  background-color: #d2deef;
  color: #333333;
  text-decoration: none;
  padding: 1rem;
  box-sizing: border-box;
  display: block;
  text-align: center;
}

.btn:hover {
  background-color: #d9e3f1;
}

.text-light {
  color: white;
}

.text-dark {
  color: white;
}

.flexy {
  display: flex;
}
.flexy .center {
  margin: auto;
}

.scroll-message {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 0;
}

.listless {
  list-style: none;
}

.lang-dropdown-menu {
  background-color: #d2deef;
  color: #333333;
  border-radius: 3px;
  box-shadow: 0 0 2px #000;
  display: flex;
  float: right;
  position: absolute;
  display: none;
}
.lang-dropdown-menu ul {
  margin: auto;
  box-sizing: border-box;
  padding: 0;
}
.lang-dropdown-menu li {
  margin: 0.25rem;
}

.lang-parent {
  display: inline-block;
  float: right;
  margin: auto;
}

.l-button {
  border-radius: 1.5rem;
}

.nav-link {
  background-color: rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  padding: 1rem;
}

.nav-link:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

/*# sourceMappingURL=compiled-style.css.map */
