.mar-x-1{
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.mar-x-2{
  margin-left: 1rem;
  margin-right: 1rem;
}
.mar-x-3{
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.center{
  text-align:center;
}
