mixin featureContainer(features)
  div.feature-container
    +feature(features[0].title,features[0].body)
    +feature(features[1].title,features[1].body)
    +feature(features[2].title,features[2].body)
