mixin headerPage(content)
  div.header-page
    div.grid-container
      div
      div.main-col
        div.m-col-both
          h1=content.title
        div.main-col
          div.m-col-1
            h3= content.left.title
              each item in content.left.checkList
                p <span class="material-icons">check</span> #{item}
          div.m-col-2
            div.action-parent
              a.action-button.btn(href=content.right.link)=content.right.button
            p=content.right.content
      div
    div.flexy.scroll-message
      p.center=content.bottomMessage
    
