mixin input(name,label,placeholder,type)
  div.form-input
    case type
      when "textarea"
        label(for=name)=label
        textarea(name=name id=name placeholder=placeholder required=true)
      when "submit"
        input(type=type id=name name=name value=label)
      default
      
        label(for=name)=label
        input(type=type id=name name=name placeholder=placeholder required=true)
