mixin mainSectMix(mixs)
  each mix in mixs 
    case mix.type
      when "img"
        +imgHalfRow(mix.img,mix.para)
      when "para"
        +paragraphRow(mix.para,mix.col)
      when "form"
        +formRow(mix.inputs)
